.App {
  text-align: center;
}

.App-logo_SK {
  height: 35px;
  width: 150px;
}

.App-logo_IR {
  object-fit: cover;
  align-items: center;
  padding-top: 6vh;
  height: 110px;
  width: 350px;
}

.App-header {
  background-color: #9ac7f1;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
